body {
    font-family: 'Roboto Mono', monospace;
    background-color: #eaeaea;
}

h1 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

#clear {
  margin-top: 50px;  
}
#total {
    padding-left: 42%;
}

#taxtotal {
    padding-left: 42%;
 
}

ul{
    margin-top: 50px;

}